# Copy this file to .env and set the correct path for your machine.
# Docker daemon needs this to mount volumes into the MATLAB container.

# Absolute path to the ./data directory on the HOST machine.
HOST_DATA_DIR=/absolute/path/to/MatlabPoC/data

DATA_DIR =path/which/ends/with/data/jobs
# You probbably want host data dir same as data dir if both run on same machine
HOST_DATA_DIR =/path/to/data/on/host/with/matlab

# Name of the image from which containers will be created
MATLAB_IMAGE =matlab-algorithm:latest

# Amount of workers, which can run in parallel
MAX_WORKERS =2

# How often should frontend check if backend has finished
POLL_INTERVAL_S =5
