# MATLAB / SimPackage
SimPackage/
!SimPackage/setup.py
!SimPackage/pyproject.toml
matlab_src/tools/external/**/bm4dmx.mex*

# Artifacts
libs/*
!libs/.gitkeep
!libs/*.whl

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/

# Installer/Runtime
MATLAB_Runtime_*.zip
installer_input.txt

# OS
.DS_Store